<!-- donut-chart.component.html -->
<div class="shadow-lg border border-dark border-1 p-2 mt-4 mb-3 d-flex flex-column"
    style="width: 100%; height: 800px; margin-bottom: 10px;">

    <div class="chart-container chart1" id="liability-chartdiv" >
        <!-- Chart content goes here -->
    </div>

    <div class="d-flex justify-content-end">
        <div class="chart-container chart2" id="liability-chartdiv1" >
            <!-- Chart content goes here -->
        </div>
        <!-- Optionally, you can add another empty div for spacing -->
        <!-- <div style="width: 2%;"></div> -->
    </div>
</div>
<hr>
